body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #555;
  background: #fff;
}
h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin-left: 2em;
}
a {
  color: #e74c3c;
  text-decoration: none;
}
a:hover, a:focus {
  box-shadow: 0 1px #e74c3c;
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
.bgc1 {
  background: #f1f1f1;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 5em;
  margin-left: 5em;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
code {
    display: block;
    padding: 12px;
    color: #333;
    background:#f5f5f5;
    margin-left: 3em;
    margin-right: 3em;
}
p {
  margin-left: 3em; 
}

h1,h2,h3,h4,h5 {
  margin-left: 2em;
}
.rufusimg {
        max-width: 30%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto; 
}
.archIMG {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.telecharger {
    background-color: #e74c3c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
}
.fdisk {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    height: auto;
}
.right {
  max-width: 700px;
  margin-left: 30px;
}
