.footerContact {
  position: fixed;
  left: 5px;
  bottom: -15px;
  width: 100%;
  font-style: italic;
  text-align: left; 
  background: #f1f1f1;
}
.footerGIT {
  position: fixed;
  left: 0;
  bottom: -15px;
  width: 100%;
  font-style: italic;
  text-align: left; 
  background: #f1f1f1;
}
footer {
  background:#f1f1f1;
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:25px;
  height: 1px;
}
.menubas
{
width: 100%; 
text-align: justify; 
background: #f1f1f1;
}