body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #555;
  background: #fff;
}
h1 {
  font-size: 1.5em;
  font-weight: normal;
}
a {
  color: #e74c3c;
  text-decoration: none;
}
a:hover, a:focus {
  box-shadow: 0 1px #e74c3c;
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
.bgc1 {
  background: #f1f1f1;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
ul {
  list-style-type: none;
}








































footer {
  background:#f1f1f1;
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:25px;
  height: 1px;
}
.menubas
{
width: 100%; 
text-align: justify; 
background: #f1f1f1;
}
   
  