body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #555;
    background: #fff;
  }
  h1 {
    font-size: 1.5em;
    font-weight: normal;
  }
  a {
    color: #e74c3c;
    text-decoration: none;
  }
  a:hover, a:focus {
    box-shadow: 0 1px #e74c3c;
  }
  .talign-right {
    text-align: right;
  }
  .talign-center {
    text-align: center;
  }
  .bgc1 {
    background: #f1f1f1;
  }
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .mhmm {
    margin-left: 1em;
    margin-right: 1em;
  }
  .centertext {
  text-align: center;
  }
  .TitleUPCenter {
  margin-left: 1em;
  font-size: 30px;
  }
  .List {
    font-size: 17px;
    padding-left: 1em;
  }


  ul {
  list-style-type: disc;
  margin-left: 0.5em;
  font-family: Helvetica;
  font-style: italic;
  }


